%h3 Profile

%ul.nav.nav-tabs
  %li= link_to t(:button_profile), profile_show_path
  %li.active= link_to t(:button_repositories), projects_from_service_path('github')

.row
  .span2
    %ul.nav.nav-list
      %li.nav-header Accounts
      - @owners.each do |owner|
        %li{class: (params[:owner] == owner ? 'active' : '')}= link_to owner, projects_from_service_path(params[:provider], owner: owner)

  .span10
    %table.table.table-striped
      - @projects.each do |project|
        %tr
          %td= project.name
          %td.make-switch.project-toggle
            =check_box_tag '','', @associated_projects.find {|ap| ap.provider == project.provider and ap.name == project.name }, 'class' => 'project-toggle', 'dashbozu-url' => toggle_project_path(params[:provider], name: project.name)
